.lobby {
  position: relative;
  height: 100%;
  width: 100%;
}
.cardContainer {
  position: relative;
  height: 70%;
  width: 100%;
  overflow: visible;
}
.card {
  bottom: 10%;
  left: 50%;
  position: absolute;
  width: 12em;
  transition: bottom 400ms ease;
}
.card:hover {
  bottom: 15%;
  transition: bottom 400ms ease;
  cursor: pointer;
}
.card1 {
  background-color: #dd71d2;
  z-index: 1;
  transform: translate(-150%, -7%) rotate(-31.42deg);
  -webkit-transform: translate(-150%, -7%) rotate(-31.42deg);
  -moz-transform: translate(-150%, -7%) rotate(-31.42deg);
  -o-transform: translate(-150%, -7%) rotate(-31.42deg);
}
.card2 {
  background-color: #708fff;
  z-index: 2;
  transform: translate(-100%, -20%) rotate(-17.64deg);
  -webkit-transform: translate(-100%, -20%) rotate(-17.64deg);
  -moz-transform: translate(-100%, -20%) rotate(-17.64deg);
  -o-transform: translate(-100%, -20%) rotate(-17.64deg);
}
.card3 {
  background-color: #fe5959;
  z-index: 3;
  transform: translate(-50%, -22%);
  -webkit-transform: translate(-50%, -22%);
  -moz-transform: translate(-50%, -22%);
  -o-transform: translate(-50%, -22%);
}
.card4 {
  background-color: #70de49;
  z-index: 4;
  transform: translate(0, -17%) rotate(10.51deg);
  -webkit-transform: translate(0, -17%) rotate(10.51deg);
  -moz-transform: translate(0, -17%) rotate(10.51deg);
  -o-transform: translate(0, -17%) rotate(10.51deg);
}
.card5 {
  background-color: #fef757;
  z-index: 5;
  transform: translate(50%, 0%) rotate(24.46deg);
  -webkit-transform: translate(50%, 0%) rotate(24.46deg);
  -moz-transform: translate(50%, 0%) rotate(24.46deg);
  -o-transform: translate(50%, 0%) rotate(24.46deg);
}

/* MEDIA QUERIES */
@media screen and ((max-width: 640px) or (max-height: 600px)) {
  .card {
    width: 8em;
  }
}
@media screen and (((min-height: 500px) and (max-height: 600px)) or (max-width: 640px)) {
  .cardContainer {
    height: 60%;
  }
}
