.colorButton {
  position: relative;
  overflow: hidden;
  width: 5em;
  height: 5em;
  outline: transparent;
  background-color: #ffffff;
  border: 2px solid #a6c7ee;
  border-color: rgb(179, 186, 185);
  border-radius: 50%;
  box-shadow: 0px 3px 6px -2px var(--box-shadow-color);
  /* Placement */
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);

  /* transition */
  transition: height 400ms ease, width 400ms ease,
    border-radius 400ms cubic-bezier(0.93, 0.39, 0.56, 0.96);
  -moz-transition: height 400ms ease, width 400ms ease,
    border-radius 400ms cubic-bezier(0.93, 0.39, 0.56, 0.96);
  -o-transition: height 400ms ease, width 400ms ease,
    border-radius 400ms cubic-bezier(0.93, 0.39, 0.56, 0.96);
  -webkit-transition: height 400ms ease, width 400ms ease,
    border-radius 400ms cubic-bezier(0.93, 0.39, 0.56, 0.96);
}

.colorButton:hover {
  cursor: pointer;
  border-color: #a6c7ee;
  border-radius: 8% / 24%;
  width: 15em;
  transition-delay: 0ms;
  transition-timing-function: ease;
}
.colorButton > * {
  display: none;
}
.opened {
  position: relative;
  background-color: #ffffff;
  border: 2px solid #a6c7ee;
  border-radius: 6% / 24%;
  box-shadow: 0px 8px 9px -2px var(--box-shadow-color);
  width: 50em;
  height: 13em;
  display: flex;
  padding: 2em 3em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.8em;

  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);

  /* transition */
  transition: width 400ms ease, height 400ms ease, transform 400ms ease;
  -o-transition: width 400ms ease, height 400ms ease, -o-transform 400ms ease;
  -moz-transition: width 400ms ease, height 400ms ease,
    -moz-transform 400ms ease;
  -webkit-transition: width 400ms ease, height 400ms ease,
    -webkit-transform 400ms ease;
}
.opened > * {
  display: visible;
  opacity: 0;
  animation: colorChoiceAppear 400ms ease 400ms 1 forwards;
}

.colorChoice {
  width: 3em;
  height: 3em;
}
/* MEDIA QUERIES */
/* small width or big width small height */
@media screen and ((max-width: 850px) or (max-height: 600px)) {
  .colorButton {
    width: 3em;
    height: 3em;
  }
  .colorChoice {
    width: 2em;
    height: 2em;
  }
  .colorButton:hover {
    width: 10em;
  }
}
/* width too small */

@media screen and (max-width: 850px) {
  .opened {
    width: 35em;
    height: 9em;
  }
}
@media screen and (max-width: 600px) {
  .opened {
    width: 100%;
    height: fit-content;
    border-radius: 0;
  }
}
/* width too big */
@media screen and (min-width: 1400px) {
  .colorButton {
    width: 7em;
    height: 7em;
  }
  .colorButton:hover {
    width: 21em;
  }
}

@keyframes colorChoiceAppear {
  0% {
    opacity: 0;
    transform: translate(0, 5%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
